$bg-dark:#12002b;
$bg-light:#dfe6ed;
$color-purple:#6458f5;
$color-light-purple:#c5bef5;
$color-light: #fff;
$color-green: #00bc77;
$color-error: #c1241b;
$color-black: #000;
$color-gray: #c0cbd4;
$color-special-blue:#2c3e50;