@use '../../styles/variables.scss' as *;
.main{
    flex: 1;
    background-color: $bg-dark;
    min-height: 88.9vh;
    position:relative;
}

.mainEditing {
    flex: 1;
    background-color: $bg-light;
    min-height: 88.9vh;
    position:relative;
}