@use '../../styles/variables.scss' as *;

.signInContent {
  position: absolute;
  box-sizing: border-box;
  background-color: white;
  width: 300px;
  margin: 0 auto;
  padding: 2rem;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);


  .signInIcon {
    font-size: 1rem;
  }

  form{
    .inputRemember {
      display: flex;
    
      label {
        margin-left: 0.25rem;
      }
    }

    .inputWrapper {
      display: flex;
      flex-direction: column;
      text-align: left;
      margin-bottom: 1rem;
    
      label {
        font-weight: bold;
      }

      input {
        padding: 5px;
        font-size: 1.2rem;
      }
    }
    
    .signInButton {
      display: block;
      width: 100%;
      padding: 8px;
      font-size: 1.1rem;
      font-weight: bold;
      margin-top: 1rem;
      border: none;
      background-color: $color-green;
      color: $color-light;
      text-decoration: underline;
    }

    .errorMessage {
      color: $color-error;
    }
  }

}